<% include ../partials/head %>
<% include ../partials/navbar %>

<h3>Section emprunt :</h3>
<div class="empruntform">
        <form action="/commande">
            Nom : <input type="text" name="lastname" id="">
            <br>Prenom : <input type="text" name="firstname" id="">
            <br>Adresse : <input type="text" name="adress" id="">
            <br>Ville : <input type="text" name="city" id="">
        </form>
        
</div>

<% include ../partials/footer %>