
    <% include ../partials/head %>
    <% include ../partials/navbar %>
    
    

    <div class="banner">
         <h3>Bienvenue à la mediateque de St gaudens.</h3>
    </div>

    <div class="content">
        <h2>La mediateque et vous :</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, illum consequatur dolores amet, vero in, repellendus dolorum voluptatibus odit quos consectetur omnis sapiente optio porro. Repudiandae totam magni ea mollitia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam in quasi quo eligendi quaerat iure. Porro beatae dignissimos reiciendis, neque dolores nam fuga perspiciatis magni expedita vitae ad debitis labore!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa ratione, eveniet quae corrupti dolor laboriosam explicabo architecto quod nam numquam provident, fugit facere! Cum aliquam, provident deleniti earum adipisci odit, iusto, deserunt inventore et corporis expedita sint nostrum delectus! Voluptatum dolores quae accusantium ea at cumque molestias earum, accusamus esse unde culpa natus beatae nulla vel mollitia deserunt saepe! Minus obcaecati deleniti libero autem quasi iusto saepe temporibus laboriosam hic alias ea unde inventore odio, quisquam, eius fuga, laudantium sed dolor illum totam provident ducimus omnis. Eum dignissimos maiores, praesentium aliquid vitae, incidunt sapiente, nihil unde dolore nisi doloribus?</p>
    </div>

    <% include ../partials/footer %>