<% include ../partials/head %>
<% include ../partials/navbar %>
<div class="content">
    <h3>Section livre:</h3>
    <img src="./book-3088775_1920" alt="..." class="img-thumbnail">
</div>


<% include ../partials/footer %>