/*Global*/
body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*nav*/

nav {
    height: 60px;
}

/*banner*/

.banner {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581__340.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0,0;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    position: relative;
    top: -60px;
}

.banner h3 {
    color: rgb(255, 245, 231);
    font-size: 60px;
    position: relative;
    top: 100px;
    left: 50px;
}

.content {
    margin: 5%;
    position: relative;
    top: -60px;
}

.content h2 {
    margin: 5%;
}

h3 {
    margin : 4%;
}

/*books*/
.books{
    display: flex;
    justify-content: center;
}
.books img {
    width: 150px;
    height: 180px;
}

/*emprunt*/

.empruntform {
    display: flex;
    align-content: center;
}